p, h5 {
  color: rgb(59, 74, 81);
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  margin: auto;
}

.info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact {
  font-weight: bold;
  text-decoration: none;
}
.react {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}