body {
  font-family: 'IBM Plex Sans';
  background-color: rgb(246, 243, 243);
}

h1 {
  font-size: 55px;
  text-align: center;
  color: white;
  color: rgb(7, 55, 78);
  margin-top: 40px;
}

h2 {
  font-size: 30px;
  color: rgb(7, 69, 98);
}

.picture {
  width: 300px;
  margin-top: -5px;
  margin-bottom: 20px;
  padding: 5px;
  z-index: 999; 
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

.picture:hover { 
  transform: scale(1.10); 
  }

.box {
  text-align: center;
  width: 85%;
  background-color: rgb(227, 227, 227);
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)
}

.skills {
  margin-top: 25px;
}

.label {
  margin-bottom: 10px;
}

.specialEffect {
  color: hsl(0, 0%, 28%);
  font-family: 'IBM Plex Sans';
  letter-spacing: 5px!important;
  text-transform: uppercase;
}

.specialEffect {
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1.7s;
}