h5 {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.projects {
  margin-bottom: 40px;
}

.projectDescription {
  text-align: left;
}

.section {
  margin-bottom: 17px;
}

.images {
  width: 400px;
}