body {
  font-family: 'IBM Plex Sans';
}

p {
  color: rgb(59, 74, 81);
}

h1 {
  text-align: center;
  color: rgb(59, 74, 81);
  margin-top: 40px;
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
  color: rgb(52, 66, 72);
  margin-top: 10px;
  margin-bottom: 15px;
}

li {
  font-size: 18px;
  color: rgb(59, 74, 81);
}

.courseContainer {
  text-align: left;
  margin-bottom: 35px;

}

.courseDescription {
  margin-bottom: 15px;
}

.logo, .c, .github, .javascript, .sql, .bootstrap, .django, .flask, .solidity, .java, .vscode, .cpp, .r {
  height: 43px;
  text-align: center;
  margin-right: 12px;
}

.c {
  height: 43px;
}

.github, .vscode {
  height: 37px;
}

.javascript {
  height: 49px;
  margin-left: -3px;
}

.sql, .bootstrap, .solidity {
  height: 38px;
}

.django, .flask {
  height: 35px;
  border-radius: 8px;
}

.java {
  height: 58px;
  margin-right: 15px;
}

.cpp {
  height: 38px;
  margin-right: 13px;
}

.r {
  height: 50px;
  margin-top: -8px;
  margin-bottom: -5px;
}

.matlab {
  height: 40px;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1.7s;
}