@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --bs-body-bg: #ffffff;
  --bs-tertiary-bg: #ffffff;
  --bs-body-color: #000000;
}

html, body, #root {
  background-color: #ffffff !important;
  color: #000;
  font-family: 'Inter', sans-serif !important;
}

.bg-body-tertiary {
  background-color: #ffffff !important;
}

